<div class="form">
  <%= form_for(@page) do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@page.errors.count, 'error') %> prohibited
          this page from being saved:
        </h2>
        <ul>
          <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title, placeholder: "Title", class: 'form__field form__field--large' %>
    <%= f.text_field :urlname, placeholder: "Nice Url", class: 'form__field' %>

    <%= f.text_area :text, placeholder: "Content", class: 'form__textarea', id: 'markdown' %>

    <%= f.submit class: 'btn btn--large' %>
  <% end %>
</div>
