<h1 class="title title--main">Pages</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="media-items">
  <% @pages.each do |page| %>
    <div class="media-item">
      <%= link_to page.title, page_path(page), :class=>'media-item__title' %>

      <div class="media-item__action">
        <%= link_to 'Edit', edit_page_path(page), :class=>'media-item__action-link' %>
        <%= link_to 'Delete', page_path(page),
        method: :delete,
        data: { confirm: 'Are you sure?' }, :class=>'media-item__action-link' %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New page', new_page_path, :class=>'btn offset-top' %>
