<!DOCTYPE html>
<html>
  <head>
    <title>Snow Frontend | </title>
    <%= csrf_meta_tags %>

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__logo">
        Snow
      </div>

      <nav class="navigation">
        <%= link_to 'Home', root_path, :class=> 'navigation__item' %>
        <%= link_to 'Articles',
        { :controller => 'articles', :action => :index },
        { :class=>'navigation__item' } %>

        <% @main_menu_pages.each do |page| %>
        <%= link_to page.title, '/' + page.urlname, :class=>'navigation__item ' + current_class?('/' + page.urlname) + '' %>
        <% end %>
      </nav>
    </header>

    <section class="content">
      <%= yield %>
    </section>

    <footer class="footer">
      <div class="footer__copyright">
        Snow CMS &copy; 2016
      </div>

      <% if current_user %>

      <% @footer_pages.each do |page| %>
      <%= link_to page.title, '/' + page.urlname, :class=>'footer__link ' + current_class?('/' + page.urlname) + '' %>
      <% end %>

      <%= link_to 'Admin',
      { :controller => 'admin', :action => :index },
      { :class=>'footer__link' } %>
      <% end %>
    </footer>
  </body>
</html>
