<!DOCTYPE html>
<html>
  <head>
    <title>RailsTest</title>
    <%= csrf_meta_tags %>

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navigation">
      <%= link_to 'Home', root_path, :class=> 'navigation__item' %>

      <div class="user">
        <% if current_user %>
        Signed in as <%= current_user.name %> <%= link_to "Logout", '/logout' %>
        <% else %>
        <%= link_to 'Login', '/login' %> <%= link_to 'Signup', '/signup' %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
